/* Write your code here. */
.win-or-lose-card {
  display: flex;
  width: 80%;
  align-items: center;
  border: 1px solid #ffffff;
  padding: 25px;
  border-radius: 15px;
  justify-content: space-evenly;
}

.details-section {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.play-again-button {
  background-color: #ffce27;
  color: #000000;
  height: 35px;
  width: 100px;
  font-weight: 660;
  border: 0px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
}
